<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035765979959-tro06q0ra1phi5oqu9v2mj08fuvffesl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035765979959-tro06q0ra1phi5oqu9v2mj08fuvffesl</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Aw5VUqfh6cdTTHWgA3vuBzDWjX0elFI</string>
	<key>GCM_SENDER_ID</key>
	<string>1035765979959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nileegames.gullyteam</string>
	<key>PROJECT_ID</key>
	<string>gully-team-1939a</string>
	<key>STORAGE_BUCKET</key>
	<string>gully-team-1939a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035765979959:ios:357bcb4bc295b6272a98b2</string>
</dict>
</plist>