<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835772612829-lqgjl1gqek3rq9c1aofr51t0def10vmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835772612829-lqgjl1gqek3rq9c1aofr51t0def10vmo</string>
	<key>API_KEY</key>
	<string>AIzaSyDI0b9-2Nir_Ei0nlMXmUkgtVDawNCp53U</string>
	<key>GCM_SENDER_ID</key>
	<string>835772612829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gullyApp</string>
	<key>PROJECT_ID</key>
	<string>gully-app-2</string>
	<key>STORAGE_BUCKET</key>
	<string>gully-app-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835772612829:ios:1bd8b29a58cbafee399b34</string>
</dict>
</plist>